<h3>Une erreur s'est produite pendant l'envoie d'un mail sur le projet {{ project }}</h3>

<ul>
    <li>Template : {{ template }}</li>
    <li>Erreur : {{ error }}</li>
    <li>Lien : {{ url }}</li>
    <li>Id mail erreur : {{ mailErrorId }}</li>
</ul>
